<div>
  <!-- Tab Content -->
  <div class="tab-content">

    <!-- FIRST TAB -->
    <div role="tabpanel" class="tab-pane fade in active" id="home">
      <ul class="game-list-ul">
        <% @games.reverse_each do |game| %>
          <%= link_to team_game_path(@team, game), class:"list-link", id:"game-list-link" do %>
            <li class="list-group-item game-list">
              <div class="game-list-item game-date">
                <%= game.date %>
              </div>
              <div class="game-list-item game-title">
                <%= @team.name %> - <%= game.opponent_name %>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
      <%= link_to "Nouveau Match", new_team_game_path(@team), class:"btn btn-warning bottom-fixed-game-btn btn-full-width"%>
    </div>

    <!-- SECOND TAB -->
    <div role="tabpanel" class="tab-pane fade" id="profile">
      <div class="flex-center">
        WORK IN PROGRESS
      </div>
    </div>

    <!-- THIRD TAB -->
    <div role="tabpanel" class="tab-pane fade" id="messages">
      <ul class="list-group">
        <% @team.players.each do |player| %>
          <%= link_to player_path(player), class:"list-link" do %>
            <li class="list-group-item game-list">
              <div class="game-list-item game-title">
                <% avatar_url = player.user.facebook_picture_url || "http://placehold.it/30x30" %>
                <%= image_tag avatar_url, class: "avatar" %>
                <div class="player-list-name">
                  <%= player.name.upcase %>
                </div>
              </div>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>

    <!-- <div role="tabpanel" class="tab-pane" id="settings">...</div> -->
  </div>







  <!-- Nav tabs -->
  <ul class="nav nav-pills home_tabs nav-justified" role="tablist">
    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">
        <i class="fa fa-futbol" aria-hidden="true"></i>
        <p>Matchs</p>
    </a></li>
    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
      <i class="fa fa-history" aria-hidden="true"></i>
      <p>Historique</p>
    </a></li>
    <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
      <i class="fa fa-users" aria-hidden="true"></i>
      <p>Team</p>
    </a></li>
    <!-- <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li> -->
  </ul>
</div>
