<div class="text-center">
  <h1 class="vote-h1">Qui est le Top selon toi ?</h1>

    <div class="top-form">
      <%= simple_form_for [@team, @game, @top], url: team_game_top_path(@team, @game, @top), remote: true do |f| %>
        <%= f.input :topplayer, collection: @team.users, label_method: :name, value_method: :id,label: "Joueur", include_blank: false, selected: @top.topplayer %>
        <%= f.input :comment %>
        <%= f.input :game_id, as: :hidden, input_html: {value: @game.id} %>
        <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
      <% end %>

      <%= link_to "Modifier le Top", "#", class:"top_button_submit btn btn-success btn-full-width" %>
    </div>

  <div class="top-after-vote"></div>

  <h1>Qui est le Flop selon toi ?</h1>


  <div class="flop-form">
    <%= simple_form_for [@team, @game, @flop], url: team_game_flop_path(@team, @game, @flop), remote: true do |f| %>
      <%= f.input :flopplayer, collection: @team.users, label_method: :name, value_method: :id,label: "Joueur", include_blank: false, selected: @flop.flopplayer %>
      <%= f.input :comment %>
      <%= f.input :game_id, as: :hidden, input_html: {value: @game.id} %>
      <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
    <% end %>

    <%= link_to "Confirmer le Flop", "#", class:"flop_button_submit btn btn-success btn-full-width" %>
  </div>

  <div class="flop-after-vote"></div>
</div>

<div class="back fixed-bottom">
  <%= link_to "Back", :back, class:"btn btn-danger btn-full-width" %>
</div>
