<div class="text-center">
  <h2>Please Complete your Profile</h2>

  <%= simple_form_for @user, :url => team_user_path(@team, @user) do |f| %>
    <%= f.input :name %>
    <%= f.input :shirt_number %>
    <%= f.input :field_position %>
    <%= f.input :team_id, collection: @teams, label_method: :name, value_method: :id,label: "Team", include_blank: false, selected: @user.team_id %>
    <p><%= link_to "Your Team is not in the list ? Create one !", new_team_path %></p>
    <%#= f.input :photos, as: :attachinary %>
    <%= f.button :submit, "Continue", class:"btn btn-success btn-full-width" %>
  <% end %>
</div>
<div class="back fixed-bottom">
  <%= link_to "Back", request.referer, class:"btn btn-danger btn-full-width" %>
</div>
