<% if params[:controller] == "pages" %>
  <div class="navbar-wagon-home">
<% else %>
  <div class="navbar-wagon">
<% end %>
  <!-- Logo -->
  <div id="logo">
    <% if params[:controller] == "pages" %>
      <%= link_to root_path, class: "navbar-wagon-brand white" do %>
        <h1>TopFlop</h1>
        <%#= image_tag "logo.png" %>
      <% end %>
    <% else %>
      <%= link_to root_path, class: "navbar-wagon-brand black" do %>
        <h1>TopFlop</h1>
        <%#= image_tag "logo.png" %>
      <% end %>
    <% end %>
  </div>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://placehold.it/30x30", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
            <% if current_user.team_id != nil %>
              <%= link_to team_path(Team.find(current_user.team_id)) do %>
                <i class="fa fa-home"></i>  <%= t(".home", default: "Home") %>
              <% end %>
            <% end %>
            </li>
            <li>
              <% if current_user.team_id != nil %>
                <%= link_to team_user_path(Team.find(current_user.team_id), current_user) do %>
                  <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
                <% end %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <!-- Signup text link -->
      <%= link_to t(".sign_in", default: "Je m'inscris !"), new_user_registration_path, class: "btn btn-medium" %>

      <!-- Login text link -->
      <div class="connexion text-center">
        <%= link_to t(".sign_in", default: "connexion"), new_user_session_path, id: "connexion-link" %>
      </div>

    <% end %>

  </div>

  <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

  <!-- Dropdown list appearing on mobile only -->

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
        <% if params[:controller] == "pages" %>
          <i class="fa fa-bars dropdown-toggle white" data-toggle="dropdown"></i>
        <% else %>
          <i class="fa fa-bars dropdown-toggle black" data-toggle="dropdown"></i>
        <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
            <% if current_user.team_id != nil %>
              <%= link_to team_path(Team.find(current_user.team_id)) do %>
                <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
              <% end %>
            <% end %>
            </li>
            <li>
            <% if current_user.team_id != nil %>
              <%= link_to team_user_path(Team.find(current_user.team_id), current_user) do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
              <% end %>
            <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>

    <% else %>

      <div class="navbar-wagon-item hidden-md hidden-lg">
        <div class="dropdown">
          <% if params[:controller] == "pages" %>
            <i class="fa fa-bars dropdown-toggle white" data-toggle="dropdown"></i>
          <% else %>
            <i class="fa fa-bars dropdown-toggle black" data-toggle="dropdown"></i>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <!-- Signup text link -->
              <%= link_to t(".sign_in", default: "Je m'inscris !"), new_user_registration_path, class: "btn btn-medium" %>
            </li>
            <li>
              <!-- Login text link -->
              <div class="connexion text-center">
                <%= link_to t(".sign_in", default: "connexion"), new_user_session_path, id: "connexion-link" %>
              </div>
            </li>
          </ul>
        </div>
      </div>


    <% end %>

</div>

