<div class="text-center">
  <h1>Donne ces infos sur le match</h1>

  <%= simple_form_for [@team, @game] do |f| %>
    <%= f.input :opponent_name, label: "Adversaire", placeholder: "FC Barcelone" %>
    <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
    <%= f.input :status, as: :hidden, input_html: {value: "close"} %>
    <%#= f.input :photos, as: :attachinary %>
    <%= f.button :submit, "Sauver", class:"btn btn-success btn-full-width" %>
  <% end %>
</div>

<div class="back fixed-bottom">
  <%= link_to "Back", :back, class:"btn btn-danger btn-full-width" %>
</div>
