<div class="text-center">
  <h1>Donne ces infos sur le match</h1>

  <%= simple_form_for [@team, @game] do |f| %>
    <%= f.input :opponent_name %>
    <%= f.input :date, as: :string, input_html: { class: "datepicker" } %>
    <%#= f.input :photos, as: :attachinary %>
    <%= f.button :submit, class:"btn btn-success btn-full-width" %>
  <% end %>
</div>

<div class="back fixed-bottom">
  <%= link_to "Back", request.referer, class:"btn btn-danger btn-full-width" %>
</div>
