<h1><%= @team.name %> - <%= @game.opponent_name %></h1>

<!-- TOP PART -->

<% if @game.top != nil %>

  <h3>Le Top est :</h3>
  <%= @game.top %>

<% else %>

  <%= link_to "FAIRE MES CHOIX !", new_team_game_top_path(@team, @game), class:"btn btn-primary btn-full-width" %>

  <h3>Le Top n'a pas encore été élu !</h3>
  <!-- A FAIRE : CHECKER SI USER A DEJA VOTER -->

  <button id="vote-top-button" class="btn btn-success btn-full-width">
    VOTE (<%= @tops.size %>)
  </button>

  <div id="vote-top" class="display-none">
    <ul class="list-group no-ul-margin">
      <% @tops.each do |top| %>
        <li class="list-group-item text-center">
          <%= top.comment %>
        </li>
      <% end %>
    </ul>
  </div>

  <button id="top-button" class="btn btn-warning btn-full-width">
    DEVOILER LE TOP
  </button>

  <div id="top" class="display-none">
    <ul class="list-group no-ul-margin">
      <% @count_tops.each do |selected_top| %>
        <li class="list-group-item text-center selected top">
          <%= selected_top[0].name %> - Vote : <%= selected_top[1] %>
        </li>
      <% end %>
      <% if @count_tops != [] %>
        <%= link_to "Cloturer le vote", team_game_path(@team, @game, top: @count_tops.first[0].id), method:"put", class:"btn btn-success btn-full-width" %>
      <% end %>
    </ul>
  </div>

<% end %>

<!-- FLOP PART -->

<% if @game.flop != nil %>

  <h3>Le Flop est :</h3>
  <%= @game.flop %>

<% else %>

  <h3>Le Flop n'a pas encore été élu !</h3>

  <button id="vote-flop-button" class="btn btn-success btn-full-width">
    VOTE (<%= @flops.size %>)
  </button>

  <div id="vote-flop" class="display-none">
    <ul class="list-group no-ul-margin">
      <% @flops.each do |flop| %>
        <li class="list-group-item text-center">
          <%= flop.comment %>
        </li>
      <% end %>
    </ul>
  </div>

  <button id="flop-button" class="btn btn-warning btn-full-width">
    DEVOILER LE FLOP
  </button>

  <div id="flop" class="display-none">
    <ul class="list-group no-ul-margin">
      <% @count_flops.each do |selected_flop| %>
        <li class="list-group-item text-center selected flop">
          <%= selected_flop[0].name %> - Vote : <%= selected_flop[1] %>
        </li>
      <% end %>
    </ul>
  </div>

<% end %>

<div class="back fixed-bottom">
  <%= link_to "Back", request.referer, class:"btn btn-danger btn-full-width" %>
</div>
