<h1><%= @team.name %> - <%= @game.opponent_name %></h1>


<!-- TOP PART -->

<% if @game.top != nil %>

  <h3>Le Top est :</h3>
  <%= game.top %>

<% else %>

  <h3>Le Top n'a pas encore été élu !</h3>
  <!-- A FAIRE : CHECKER SI USER A DEJA VOTER -->
  <%= link_to "Je choisis mon top !", new_team_game_top_path(@team, @game), class:"btn btn-primary btn-full-width" %>

  <button id="vote-top-button" class="btn btn-success btn-full-width">
    VOTE (<%= @tops.size %>)
  </button>

  <div id="vote-top">
    <ul class="list-group no-ul-margin">
      <% @tops.each do |top| %>
        <li class="list-group-item text-center">
          <%= top.comment %>
        </li>
      <% end %>
    </ul>
  </div>

  <button id="top-button" class="btn btn-warning btn-full-width">
    DEVOILER LE TOP
  </button>

<% end %>

<!-- FLOP PART -->

<% if @game.flop != nil %>

  <h3>Le Flop est :</h3>
  <%= game.flop %>

<% else %>

  <h3>Le Flop n'a pas encore été élu !</h3>
  <%= link_to "Je choisis mon flop !", new_team_game_flop_path(@team, @game), class:"btn btn-primary btn-full-width" %>


  <button id="vote-flop-button" class="btn btn-success btn-full-width">
    VOTE (<%= @flops.size %>)
  </button>

  <div id="vote-flop">
    <ul class="list-group no-ul-margin">
      <% @flops.each do |flop| %>
        <li class="list-group-item text-center">
          <%= flop.comment %>
        </li>
      <% end %>
    </ul>
  </div>

  <button id="flop-button" class="btn btn-warning btn-full-width">
    DEVOILER LE FLOP
</button>


<% end %>

<div class="back fixed-bottom">
  <%= link_to "Back", request.referer, class:"btn btn-danger btn-full-width" %>
</div>
