<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Connecte toi via #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class:"btn btn-primary btn-full-width" %><br />
  <% end -%>
<% end -%>

<div class="text-center">
  <h3>ou par email :</h3>
</div>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, required: false, autofocus: true %>
    <%= f.input :password, required: false %>
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Connexion", class:"btn btn-success btn-full-width" %>
  </div>
<% end %>

<br>

<div class="text-center">
  <%= render "devise/shared/links" %>
</div>
